{% extends 'base_generic.html' %} 
{% block title %} {{genre.title}} {% endblock title %}


{% block content %}

<div class="inner-heading mg-b-3">
    <h1 class="c-primary">{{ genre.title }}</h1>
</div>

<div class="row movies">

    <div class="col-md-12">

        <h3 class="mg-b-2 c-light-primary">Movies</h3>

    </div>

    {% for movie in genre.movie_set.all %}
    
    <div class="col-md-4">
  
      <a href="{% url 'movie-detail' movie.slug %}" class="movie-wrapper">
  
        <img src="{{movie.cover_image.url}}" alt="Movie">
        <h3>{{movie.title}}</h3>
        <p>{{movie.prefix}}</p>
  
        <div class="overlay"></div>
  
      </a>
  
    </div>
    
  
    {% empty %}
  
    <p>No movies found!</p>
  
    {% endfor %}
  </div>
    
{% endblock content %}
    