{% extends 'base_generic.html' %} {% block title %} Movies {% endblock title %}


{% block content %}

<div class="row movies">
  {% for movie in movie_list %}
  
  <div class="col-md-4">

    <a href="{% url 'movie-detail' movie.slug %}" class="movie-wrapper">

      <img src="{{movie.cover_image.url}}" alt="Movie">
      <h3>{{movie.title}}</h3>
      <p>{{movie.prefix}}</p>

      <div class="overlay"></div>

    </a>

  </div>
  

  {% empty %}

  <p>No movies found!</p>

  {% endfor %}
</div>

{% endblock content %}
