@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --bg: #1b1b2f;
  --tertiary: #1f4068;
  --secondary: #162447;
  --primary: #e43f5a;
  --text-secondary: #6679aa;
  --light-primary: #b85464;
  --bg-primary: #e4586f;
  --bottom-border: #79434c;
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--bg);
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
}

button {
  outline: none;
  border: none;
  padding: 10px 30px;
  background-color: #f2f2f2;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: var(--secondary);
  z-index: 5;
}

.default-padding {
  padding: 100px 0;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.brand img {
  width: 30px;
  height: 30px;
}

.brand h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 600;
  margin-left: 5px;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ul.sidebar-nav {
  margin-bottom: 0;
}

.sidebar-nav li a {
  margin: 0 1.4rem;
  color: #424242;
  font-weight: 600;
  padding: 10px 20px;
  color: var(--primary);
}

.sidebar-nav li a:hover {
  background-color: var(--tertiary);
  text-decoration: none;
  border-radius: 4px;
}

.padding-top-1 {
  padding-top: 1rem;
}

.movies .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-wrapper {
  width: 80%;
  position: relative;
  cursor: pointer;
}

.movie-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.movie-wrapper h3 {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: var(--primary);
  font-weight: 700;
  z-index: 2;
}

.movie-wrapper p {
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 5px 10px;
  background-color: var(--primary);
  z-index: 2;
  border-radius: 20px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}

.inner-header h1 {
  color: var(--primary);
  font-weight: 600;
}

.c-primary {
  color: var(--primary);
}

.c-text-secondary {
  color: var(--text-secondary);
}

.c-tertiary {
  color: var(--tertiary);
}

.c-light-primary {
  color: var(--light-primary);
}

.bg-light-primary {
  background-color: var(--light-primary);
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.c-white {
  color: #fff;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fs-2-4 {
  font-size: 2.4rem;
}

.fs-1-4 {
  font-size: 1.4rem;
}

.fs-1-2 {
  font-size: 1.2rem;
}

.mx-4 {
  margin: 4rem 0;
}

.mx-2 {
  margin: 2rem 0 !important;
}

.mg-b-2 {
  margin-bottom: 2rem;
}

.mg-b-3 {
  margin-bottom: 3rem;
}

.pill-wrapper {
  display: flex;
  justify-content: flex-start;
}

.pill {
  padding: 5px 8px;
  margin: 5px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.w-90p {
  width: 90%;
}

.h-100p {
  height: 100%;
}

.obj-fit-cover {
  object-fit: cover;
}

hr {
  background-color: var(--light-primary);
}

.list {
  list-style: none;
}

.hover-c-primary:hover {
  color: var(--primary);
}

.bottom-border {
  border-bottom: 1px solid var(--bottom-border);
}

.list li {
  padding: 20px 15px;
  margin: 15px 0;
}

.list li a {
  text-decoration: none;
}
